<style>
    
/* Blog Wrapper */
@media (min-width:1800px) {   
.blog-wrapper{
    padding: 5% 20%;
}
.blog-wrapper .blog-row .blog-img-section img{
    width: 650px;
}
}
.blog-wrapper{
    padding: 5% 10%;
}
.blog-wrapper .blog-row{
    margin: 50px 0;
}
.blog-wrapper .blog-row .blog-img-section img{
    padding: 0;
}
.blog-wrapper .blog-row .blog-img-section img{
    height: 308px;
    object-fit: cover;
}
.blog-wrapper .blog-row .blog-content-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    padding-left: 5%;
}
.blog-wrapper .blog-row .blog-content-section .blog-author img{
    max-width: 24px;
    max-height: 24px;
}
.blog-wrapper .blog-row .blog-content-section .blog-author{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.2px;
    text-align: left;
}
.blog-wrapper .blog-row .blog-content-section .blog-title{
    font-family: Poppins;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.32px;
    max-width: 600px;
    margin-top: 10px;
}
.blog-wrapper .blog-row .blog-content-section .blog-details{
    display: flex;
    flex-direction: row;
}
.blog-wrapper .blog-row .blog-content-section .blog-details .blog-date{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.2px;
    padding-right: 20px;
}
.blog-wrapper .blog-row .blog-content-section .blog-details .blog-comment{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.2px;
}
.blog-wrapper .blog-row .blog-content-section .blog-desc{
    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.2px;
    vertical-align: middle;
    max-width: 600px;
    margin: 10px 0;
}
.blog-wrapper .blog-row .blog-content-section .blog-desc p{
    margin-bottom: 0;
}

.blog-wrapper .blog-row .blog-content-section .blog-posted-in{
    font-family: Poppins;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.2px;
}
.blog-wrapper .blog-row .blog-content-section .blog-posted-in span{
    font-family: Poppins;
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.2px;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-skip-ink: auto; 
}

.blog-wrapper .blog-row .blog-content-section .read-more-button{
    background-color: #dd140e;
    color: white;
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: block;
    text-decoration: none;
    width: auto;
    max-width: 200px;
    height: 54px;
    border-radius: 100px;
    padding: 15px 20px;
    transition: ease-in-out .2s;
    margin-top: 20px;
}
.blog-wrapper .blog-row .blog-content-section .read-more-button:hover{
    border: 2px solid #dd140e;
    color: #dd140e;
    background: transparent;
}

@media (max-width:991px) {
    .blog-wrapper{
        padding: 5%;
    }
    .blog-wrapper .blog-row{
        justify-content: center;
        margin: 30px 0;
    }
    .blog-wrapper .blog-row .blog-img-section {
        padding: 0;
        max-width: 400px;
    }
    .blog-wrapper .blog-row .blog-content-section{
        padding-left: 0;
        padding: 20px 10px 20px 0;
        max-width: 400px;
    }
    .blog-wrapper .blog-row .blog-content-section .blog-author{
        width: auto;
    }
    .blog-wrapper .blog-row .blog-img-section,
    .blog-wrapper .blog-row .blog-img-section{
        justify-content: center;
        align-items: center;
    }
    .blog-wrapper .blog-row .blog-content-section .blog-desc{
        max-width: max-content;
    }
}
</style>

<section class="blog-wrapper container-fluid">
    <div class="row blog-row">
        <div class="col-sm-12 col-md-5 blog-img-section">
            <img src="./blog-banner.png" class="img-fluid" alt="">
        </div>
        <div class="col-sm-12 col-md-7 blog-content-section">
            <div class="blog-author">
                <img src="./mdi_user.png" class="img-fluid" alt="">
                By Donato Salvo
            </div>
            <h2 class="blog-title">
                XPEL Fusion Plus Satin: Top-tier Protection for Satin Paint Vehicles
            </h2>
            <div class="blog-details">
                <div class="blog-date">
                    <img src="./majesticons_calendar.png" alt="">
                     23 Aug 25, 2023
                </div>
                <div class="blog-comment">
                    <img src="./mingcute_comment-fill.png" alt="">
                    Leave a Comment
                </div>
            </div>
            <div class="blog-desc">
                <p>
                    Whether it's your wheels, the interior, the trim, or that spectacular exterior paint, XPEL has a solution.
                </p>
            </div>
            <div class="blog-posted-in">
                Posted In <span>automotive</span>
            </div>
            <a class="read-more-button" href="#">Read More</a>
        </div>
    </div>
</section>


{% schema %}
{
    "name": "Blogs Section",
    "settings": [
        
    ],
    "presets": [
        {
            "name": "Blogs Section",
            "category": "Custom Sections"
        }
    ]

}
{% endschema %}